html {
  font-size: 10px;
}

body {
  /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: justify;
  color: #333;
  margin: 0;    
  background-color: #eee;
}

figure{
  position: relative;
  width:90vw;    
}

figcaption{
  font-size: 1.5rem;
  text-align: right;
}

h1 {
  font-size: 4.5rem;
  margin-bottom: 0;
  text-align: center;
}

h3 {   
  font-size: 2.5rem;
  margin-left: 20px;
  }

a {
  color: #477ca7;
}

a:visited {
  color: #3747d4;
}

#main {
  width: 94vw;
  margin: 10px 20px;
  padding: 5px;    
  background: #eee;
  border: solid 10px;
/* the border will curve into a 'D' */    
  border: groove 1em gray;  
  border-radius: 10px 40px 40px 10px;
}

#miyazaki{       
  background: #eee;
  border: solid 10px;
/* the border will curve into a 'D' */    
  border: groove 1em gray;  
  border-radius: 10px 40px 40px 10px;     
}
  
img {
  display: block;
  max-width: 50%;    
  height: auto;    
  margin: 0 auto;
  border-radius: 15px;
}

#img-div {
  background: grey;
  padding: 20px 0;
  margin: 0 auto;
  border-radius: 15px 50px;
}

#img-caption {
  margin: 15px 0 5px 0;
}

#tribute-info p{
  padding: 15px;
  margin: 20px;
}

#films{
  margin-left:400px;
  padding: 10px;
  background-color: grey;
  border-radius: 15px;
  width: auto;
  height: 40px;
}

ul {
  max-width: 760px;
  margin: 0 auto;
  text-align: left;
  line-height: 1.6;
}

#mononoke{
  position: relative;
  left: -20vw;
  margin: 10px 8px;
  padding: 8px;    
  background: #eee;
  border: solid 10px;
/* the border will curve into a 'D' */    
  border: groove 1em gray;  
  border-radius: 10px 40px 40px 10px;     
}

#totoro{
  position: relative;
  right: -15vw;
  margin:10px 8px;
  padding: 5px;    
  background: #eee;
  border: solid 10px;
/* the border will curve into a 'D' */    
  border: groove 1em gray;  
  border-radius: 10px 40px 40px 10px;
}

  #howl{
  position: relative;
  left: 0vw;
  margin: 10px 8px;
  padding: 8px;    
  background: #eee;
  border: solid 10px;
/* the border will curve into a 'D' */    
  border: groove 1em gray;  
  border-radius: 10px 40px 40px 10px;     
}

#spirited{
  position: relative;
  left: -20vw;
  margin: 10px 8px;
  padding: 15px;    
  background: #eee;
  border: solid 10px;
/* the border will curve into a 'D' */    
  border: groove 1em gray;  
  border-radius: 10px 40px 40px 10px;
}

#castle{
  position: relative;
  left: 15vw;
  margin: 10px 8px;
  padding: 8px;    
  background: #eee;
  border: solid 10px;
/* the border will curve into a 'D' */    
  border: groove 1em gray;  
  border-radius: 10px 40px 40px 10px;     
}

li {
  margin: 40px 0;
  list-style: none;
}

#link{    
  top: 10px;
  margin-left:40px;
  padding: 8px;
  background-color: grey;
  border-radius: 15px;
  width: auto;
  height: 40px;
}

blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}

@media (max-width: 1320px) {
  #mononoke{
    position: relative;
    left: -10vw;;
  }
  #totoro{  
    position: relative;
    right: -8vw;
  }
  #spirited{
    position: relative;
    left: -10vw;
  }
  #castle{
    position: relative;
    left: 8vw;
  }
}

@media (max-width: 1070px) {
  #mononoke{
    position: relative;
    left: -5vw;;
  }
  #totoro{  
    position: relative;
    right: -3vw;
  }
  #spirited{
    position: relative;
    left: -5vw;
  }
  #castle{
    position: relative;
    left: 3vw;
  }
}

@media (max-width: 920px) {
  #films {
    margin-left:0px;
  }
  ul {    
    margin: 0 auto -20 auto;
    text-align: left;
    padding: 10px;
  }    
  #mononoke{
    position: relative;
    left: 0vw;;
  }
  #totoro{  
    position: relative;
    right: 0vw;
  }
  #spirited{
    position: relative;
    left: 0vw;
  }
  #castle{
    position: relative;
    left: 0vw;
  }
}

@media (max-width: 460px) {
  #main {
    margin: 10px 5px;
    padding: 0px;
    border: none;
  }    
  h3 {
    font-size: 2rem;
    line-height: 1.2;
  }
  h1 {
    font-size: 3.2rem;
    line-height: 1.2;
  }
  ul {      
    padding: 0px;
  }
  #tribute-info p{
    padding: 5px;
    margin: 5px;
  }
}

  